<template>
    <v-container>
        <v-row>
            <v-col align="center">
                <h1>Chat</h1>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <RoomCard room-name="Room Public" to-page="/room/1"/>
            </v-col>
            <v-col>
                <RoomCard room-name="Room A" to-page="/room/2"/>
            </v-col>
            <v-col>
                <RoomCard room-name="Room B" to-page="/room/3"/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import RoomCard from "../components/RoomCard";

    export default {
        name: 'About',
        components: {
            RoomCard
        }
    }
</script>
