<template>
    <v-container>
        <v-row>
            <v-col align="center">
                <h1>Home</h1>
                <img alt="Vue logo" src="../assets/logo.png">
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: 'Home',
        components: {}
    }
</script>
