<template>
    <v-container>
        <v-row v-if="user">
            <v-col cols="8">
                <div class="v-card">
                </div>
                <ul class="list-group list-group-flush text-right">
                    <div class="card-header text-white">
                        <h4>Onlines: <span class="float-right">{{connections}}</span></h4>
                    </div>
                    <small v-if="typing" class="text-white">{{typing}} is typing...</small>
                    <li class="list-group-item" v-for="(message, index) in messages" :key="index">
                        <span v-if="message.type === 1" class="float-left">
                           <strong>{{message.user.name}}:&nbsp;&nbsp; </strong>
                             <small>{{message.msg}}</small>
                        </span>
                        <span v-else class="float-right">
                            <small>{{message.msg}}</small>
                           <strong> &nbsp;&nbsp;:{{message.user.name}} </strong>
                        </span>
                    </li>
                </ul>
            </v-col>
            <v-col cols="4">
                <v-form>
                    <v-row>
                        Room: <strong>{{ room.name }}</strong>
                    </v-row>
                    <v-row>
                        <v-text-field :value="user.name" :counter="10" :key="user.id" label="User" required
                                      :disabled="true"></v-text-field>
                    </v-row>
                    <v-row>
                        <v-textarea v-model="message" :counter="10" label="Message" required="true"
                                    @keypress.enter.prevent="sendMessages"></v-textarea>
                    </v-row>
                    <v-btn @click.prevent="sendMessages" class="info">Send</v-btn>
                </v-form>
            </v-col>
        </v-row>
        <v-row v-else>
            Go back home
        </v-row>
    </v-container>
</template>

<script>
    import io from "socket.io-client";

    export default {
        name: "RoomChat",
        data() {
            return {
                user: {
                    name: '',
                    id: ''
                },
                room: {
                    name: '',
                    id: ''
                },
                ready: false,
                typing: false,
                message: '',
                roomName: ['room public', 'room a', "room b"],
                connections: 0,
                messages: [],
                history: [],
                socket: io.connect(`http://io.proxy.com:3000/`, {
                    autoConnect: true,
                    pingInterval: 100,
                    pingTimeout: 50,
                    transports: ['websocket'],
                    origins: '*:*'
                })
            }
        },

        mounted() {
            // console.log(this.socket.id);
        },

        created() {
            // var account = this.initAccount();
            this.socket.on('connect', function () {
                console.log('Connected!');
            });
            window.onbeforeunload = () => {
                console.log('7. leave' + JSON.stringify(this.user) + ' room:' + JSON.stringify(this.room));
                this.socket.emit('leave', {user: this.user, room: this.room});
            };
            console.log(process.env.PORTSK);
            this.receiveMessages();
            // this.countConnections();
            this.listenTyping();
            this.listenStopTyping();
            this.handleSocketError();
            this.loadPage(this.user);
            this.room.name = this.listenRoom();
            this.listenDisconnect();
            //
            this.listenTimeout();
            //
            this.socket.on('room', function (data) {
                this.room = data.room;
                console.log('4.1 room ' + JSON.stringify(data));
                localStorage.setItem('currentRoom', JSON.stringify(this.room));
            });

            this.socket.on('list_user', (data) => {
                this.connections = data.count;
                console.log('4.2 list_user ' + JSON.stringify(data, null, '...'));
            });

            this.getHistory();


        },
        methods: {
            /*load user in storage browser*/
            async loadPage(user) {
                let userInfo = await JSON.parse(localStorage.getItem('currentUser'));
                if (userInfo) {
                    user.name = userInfo.name;
                    user.id = userInfo.id;
                } else {
                    alert('Have not user');
                }
                this.socket.emit('user_info', user);
                console.log('load page: 0.user_info' + JSON.stringify(user));
            },
            /*send id room*/
            listenRoom() {
                let roomIndex = this.$route.params.name - 1;
                let roomId = (roomIndex < 0) ? 0 : roomIndex;
                var roomNameIx = this.roomName[roomId];
                var socket = this.socket;
                this.room.name = roomNameIx;
                this.socket.on('user_info', function (user) {
                    console.log('2.receive user' + JSON.stringify(user) + 'send room name' + roomNameIx);
                    socket.emit('room_info', roomNameIx);
                });
                return roomNameIx;
            },

            /*receive history room*/
            getHistory() {
                var self = this;
                this.socket.on('history_room', async function (data) {
                    var user = await JSON.parse(localStorage.getItem('currentUser'));
                    console.log(data.data);
                    if (data.succ) {
                        this.history = data.data;
                        this.history.forEach((item) => {
                            var mess = {
                                msg: item.content,
                                room: item.group,
                                user: item.user,
                                type: (user.id === item.user.id) ? 0 : 1
                            };
                            self.messages.push(mess);
                        });
                    } else
                        alert('Error get history');

                    console.log('4.3 get history room: ' + JSON.stringify(data));
                });

            },
            /*get room: { name, id} */
            getRoom() {
                this.socket.on('room', function (data) {
                    this.room = data.room;
                    console.log('4.1 room ' + JSON.stringify(data));
                });
            },

            // initAccount() {
            //     let roomIndex = this.$route.params.name - 1;
            //     let roomId = (roomIndex < 0) ? 0 : roomIndex;
            //     let roomNameIx = this.roomName[roomId];
            //     this.socket.emit('room_info', roomNameIx);
            //     this.socket.on('room_info', function (roomInfo) {
            //         if (roomInfo.code === 200)
            //             this.room = roomInfo.data;
            //     });
            //
            //     let user = JSON.parse(localStorage.getItem('currentUser'));
            //
            //     if (user) {
            //         this.user.name = user.name;
            //         this.user.id = user.id;
            //     }
            //     console.log(JSON.stringify(this.room));
            //     return {
            //         room: this.room,
            //         user: this.user
            //     };
            // },

            leaveChat() {
                var self = this;
                window.onbeforeunload = () => {
                    this.socket.emit('leave', {user: self.user, room: self.room});
                };
            },

            sendRoom(account) {
                this.socket.emit('room', account);
            },

            sendMessages(e) {
                e.preventDefault();
                let roomInfo = JSON.parse(localStorage.getItem('currentRoom'));
                /*send msg*/
                this.messages.push({
                    msg: this.message,
                    type: 0,
                    room: roomInfo,
                    user: this.user
                });
                this.socket.emit('send_message', {
                    msg: this.message,
                    type: 1,
                    room: roomInfo,
                    user: this.user
                });
                this.message = '';
                console.log("5. send_message " + JSON.stringify(this.user));
            },

            receiveMessages() {
                this.socket.on('message', (data) => {
                    this.messages.push(data);
                });
            },

            handleSocketError() {
                this.socket.on('connect_error', () => {
                    alert('connect_error');
                });
            },

            listenTyping() {
                this.socket.on('typing', (data) => {
                    this.typing = data;
                });
            },

            listenStopTyping() {
                this.socket.on('stopTyping', () => {
                    this.typing = false;
                });
            },

            listenDisconnect() {
                // var childSocket = this.socket;
                this.socket.on('disconnect', () => {
                    console.log('disconnect');
                });
            },

            listenTimeout() {
                this.socket.on('connect_timeout', (timeout) => {
                    console.log(timeout);
                });
            },

            listenJoin() {
                this.socket.on('list_user', (data) => {
                    console.log(JSON.stringify(data));
                    this.connections = data.count;
                })
            }
        },
        watch: {
            message: function (value) {
                value ? this.socket.emit('typing', this.user.name) : this.socket.emit('stopTyping');
            },
        }
    }
</script>

<style scoped>

</style>
