<template>
    <v-container>
        <h1>Login</h1>
        <UserAuthForm :submitForm="loginUserForm" buttonText="Login"/>
    </v-container>
</template>

<script>
    import UserAuthForm from "../components/UserAuthForm";

    export default {
        name: "UserLogin",
        components: {
            UserAuthForm
        },
        methods: {
            async loginUserForm(loginInfo) {
                let user = await this.$store.dispatch('loginUser', loginInfo);
                // console.log(user.code);
                if(user.code !== 200){
                    alert(user.msg)
                } else {
                    alert('Thank you for signing in, ' + user.data.name);
                    return this.$router.push('/about');
                }
            }
        }
    }
</script>

<style scoped>

</style>
