<template>
    <v-container>
        <h1>Register</h1>
        <UserAuthForm :submitForm="registerUser" buttonText="Register" hasName=true />
    </v-container>
</template>

<script>

    import UserAuthForm from "../components/UserAuthForm";

    export default {
        name: "UserRegistration",
        components: {
            UserAuthForm
        },
        methods: {
            async registerUser(registrationInfo) {
                let user = await this.$store.dispatch('registerUser', registrationInfo);
                if(user.code !== 200){
                    alert(user.data)
                } else {
                    alert('Well come to my app, ' + user.data.name);
                }
            }
        }
    }
</script>

<style scoped>

</style>
