<template>
    <v-card>
        <v-card-text>{{ roomName }}</v-card-text>
        <v-card-actions>
            <v-btn class="info" :to="{path: toPage, params: { name: roomName }}">Join</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "RoomCard",
        props: ["roomName", "toPage"],
        data() {
            return {}
        }
    }
</script>

<style scoped>

</style>
