<template>
    <v-form v-model="valid">
        <v-text-field v-model="userInfo.name"
                      label="Name"
                      :rules="[required('name')]"
                      v-if="hasName" autocomplete="on"/>

        <v-text-field v-model="userInfo.email"
                      label="Email"
                      :rules="[required('email'), emailFormat()]"/>

        <v-text-field v-model="userInfo.password"
                      label="Password"
                      :type="showPassword ? 'text' : 'password'"
                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      @click:append="showPassword = !showPassword"
                      counter=true
                      :rules="[required('password'), minLength('password', 6)]"
        />

        <v-btn @click="submitForm(userInfo)" :disabled="!valid">{{ buttonText }}</v-btn>
    </v-form>
</template>

<script>
    import validations from "../utils/validations";

    export default {
        name: "UserAuthForm",
        props: ["submitForm", "buttonText", "hasName"],

        data: () => {
            return {
                valid: false,
                showPassword: false,
                userInfo: {
                    email: '',
                    password: ''
                },
                ...validations
            }
        }

    }
</script>

<style scoped>

</style>
