<template>
    <v-app>
        <v-app-bar app color="info">
            <v-toolbar-title class="headline text-uppercase">
                <v-btn text to="/">Vue Screencasts</v-btn>
            </v-toolbar-title>
            <!--           <v-btn text to="/admin/videos" v-if="currentUser.admin">Admin</v-btn>-->
            <v-btn text to="/admin/videos">Admin</v-btn>
            <v-spacer></v-spacer>
            <div v-if="(currentUser != null) && !isEmpty(currentUser)">
                {{ currentUser.name }}
                <v-btn text class="mr-2" @click="logoutUser">Logout</v-btn>
            </div>
            <div v-else>
                <v-btn text class="mr-2" to="/login">Login</v-btn>
                <v-btn text class="mr-2" to="/registration">Register</v-btn>
            </div>
        </v-app-bar>
        <v-content>
            <router-view/>
        </v-content>
        <v-footer color="primary lighten-8" fixed>
            <!--            <Footer></Footer>-->
        </v-footer>
    </v-app>
</template>

<style>
</style>
<script>
    // import Footer from "./components/Footer";
    import {mapState} from "vuex";

    export default {
        name: "App",
        // components: {Footer},
        computed: {
            ...mapState([
                'currentUser'
            ])
        },
        mounted() {
            this.$store.dispatch('loadCurrentUser');
        },
        methods: {
            async logoutUser() {
                await this.$store.dispatch('logoutUser');
                return this.$router.push('/');
            },

            isEmpty(obj) {
                return Object.keys(obj).length === 0
            }
        }
    }
</script>
